---
import H1 from "../components/H1.astro";
import H3 from "../components/H3.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>404</title>
	</head>
	<body class="pb-2 bg-black">
		<main>
      <div class="my-4 px-4 md:px-8 lg:px-12 lg:my-8 max-w-7xl mx-auto flex flex-col text-center">
				<h1 class="text-9xl text-main font-extrabold flex justify-center content-center">
					<span class="my-auto">4</span>
					<img src="404.webp" width="100px">
					<span class="my-auto">4</span>
				</h1>
				<p class="text-main">Not Found</p>
        <H3 color='main'>Uh oh, I can explain....</H3>
      </div>
		</main>
	</body>
</html>


