---
import Main from "@layouts/Main.astro"
import H3 from "@components/H3.astro";
import Link from "@components/Link.astro";
import Section from "@layouts/Section.astro";
import Tag from "@components/Tag.astro";

const tags = ['golang', 'node', 'typescript', 'php', 'laravel', 'java', 'sql', 'nosql']
---

<Main title='Cat n Code | Thoriq Adillah' type="website" description="I'm a junior backend developer based in Malang who love to try something new. I love being backend developer because I love solving problem with coding">
  <div class="px-4 md:px-8 lg:px-12 lg:my-8 max-w-7xl mx-auto flex flex-col lg:flex-row-reverse justify-around max-h-70">
    <div class="mx-auto lg:mx-0">
      <img src="cat.webp" alt="cat" class="w-[500px] lg:w-[700px]" width="500px">
    </div>
    <div class="text-center lg:text-left my-8 lg:my-24">
      <img src="logo.svg" class="mx-auto lg:mx-0" alt="logo" width="500px">
      <H3 color='bright' classname="pt-2">Two things I like the most</H3>
      <p class="text-white mt-5 mb-10 max-w-lg text-center mx-auto lg:text-left lg:mx-0">
        I'm a junior backend developer based in Malang, Indonesia who love to try something new.
        I love being backend developer because I love solving problem with coding
      </p>
      <p class="text-gray-200 text-sm mb-1">I work with</p>
      <div class="mx-auto flex flex-wrap justify-center lg:justify-start max-w-md lg:mx-0">
        { tags.map(tag => <Tag classname='my-1 w-fit mx-2 lg:mx-0 lg:mr-2'>{ tag }</Tag>) }
      </div>
      
    </div>
  </div>

  <Section emoji='👋' summary='Who am I?' title='Well, Hello There' classname='mt-48'>
    <p class="text-white my-2 mb-6">
      I am a fresh graduate of Information System of Brawijaya University. 
      While I am a fresh graduate, I come with no empty handed.
      I have experience working on projects in backend development before. 
      I also have done an internship, as well as a part time job during my college years 
    </p>
    <Link href='https://drive.google.com/file/d/19Dh_YJ9sR-gavEeJU7z45eMN75wr6cTy/view?usp=sharing' classname='font-bold flex items-center' newtab='1'>
      Get my resume
      <span>
        <img src="/cat-n-code/arrow.png" class="ml-3 mt-1 hover:grow-0" alt="arrow">
      </span>
    </Link>
  </Section>
  
  <Section emoji='⚡' summary='A Learner and Adaptive' title='All My Skills' classname='mt-48'>
    <p class="text-white my-2">
      All my skill range I gained from projects, internship program, and part time job that I took.
      They are range from Node.js, Typescript, Go, PHP, and Java.
      Furthermore, I am familiar with their corresponding framework such as Express.js, Gin, and Laravel. 
      And of course I can learn other frameworks as well
    </p>

    <div class="my-6 flex flex-wrap">
      <img src="/cat-n-code/golang.svg" width="48px" class="mr-2" alt="golang"/>
      <img src="/cat-n-code/node-js.svg" class="mr-3" width="48px" alt="node-js"/>
      <img src="/cat-n-code/typescript.svg" class="mr-3" width="48px" alt="typescript"/>
      <img src="/cat-n-code/php.svg" class="mr-4" width="48px" alt="php"/>
      <img src="/cat-n-code/laravel.png" class="mr-3" alt="laravel" width="48px"/>
      <img src="/cat-n-code/java.svg" width="48px" class="mr-2" alt="java"/>
    </div>

    <Link href='/projects' classname='font-bold flex items-center'>
      See my projects 
      <span>
        <img src="/cat-n-code/arrow.png" class="ml-3 mt-1 hover:grow-0" alt="arrow">
      </span>
    </Link>
  </Section>
</Main>
