---
interface Props {
  color: string
  roundtype: string
  classname?: string
}

const { color, roundtype, classname } = Astro.props

const bgcolor = new Map([
  ['second', 'bg-second'],
  ['main', 'bg-main'],
  ['dark', 'bg-dark'],
  ['black', 'bg-black'],
  ['bright', 'bg-bright'],
])

const textcolor = bgcolor.get(color) === 'bg-bright' 
                  || bgcolor.get(color) === 'bg-main' 
                  || bgcolor.get(color) === 'bg-second' 
                  ? 'text-black' 
                  : 'text-bright'

const rounded = new Map([
  ['sm', 'rounded-sm'],
  ['md', 'rounded-md'],
  ['xl', 'rounded-xl'],
  ['full', 'rounded-full'],
])

const style = `px-5 py-2 font-bold hover:bg-main ${ rounded.get(roundtype) } ${ bgcolor.get(color) } ${ textcolor } ${ classname }`
---
<button class={ style }>
  <slot/>
</button>