---
interface Props {
  title: string
  tags?: string
  date: string
  classname?: string
  href: string
  stakeholder: string
}

const { title, tags, date, classname, stakeholder, href } = Astro.props
import H3 from "./H3.astro";
import Link from "./Link.astro"

const cardTags = tags?.split(',')
const style = `p-5 max-w-fill border-2 border-grey rounded-lg hover:border-bright ${ classname }`
---

<Link href={ href } classname="no-underline hover:no-underline h-">
  <div class={ style }>
    <p class="text-bright text-sm font-bold inline border border-bright rounded-md p-2">{ stakeholder }</p>
    <H3 color='bright' classname='mt-3'>{ title }</H3>
    <p class="text-gray-400 text-sm">{ date }</p>
    <p class="text-white mt-3 h-20 md:h-24">
      <slot/>
    </p>

    <div class="mt-10 mb-5 overflow-x-scroll py-4">
      {cardTags?.map(tag => {
        return <span class="text-gray-200 bg-grey rounded-full px-3 py-2 mr-2 text-sm">#{ tag }</span>
      })}
    </div>
  </div>
</Link>