---
import H2 from "./H2.astro";
---

<div class="border-2 border-main rounded-md flex flex-col justify-center text-center py-10 px-4">
  <H2 color="main" classname="mb-0">COMING SOON</H2>
  <p class="text-white my-2">
    <slot/>
  </p>
</div>