---
import type { HTMLAttributes } from 'astro/types'

const textcolor = {
  'second': 'text-second',
  'main': 'text-main',
  'dark': 'text-dark',
  'black': 'text-black',
  'bright': 'text-bright',
}

interface Props extends HTMLAttributes<'h3'> {
  color: keyof typeof textcolor
  classname?: string
}

const { color, classname, ...props } = Astro.props

const style = `text-2xl font-bold ${ textcolor[color] } ${ classname }`
---

<h3 {...props} class={ style }>
  <slot/>
</h3>