---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'a'> {
  href: string
  classname?: string
  newtab?: string
}

const { href, classname, newtab, ...props } = Astro.props

const style = `text-bright hover:text-second hover:underline ${ classname }`
const target = newtab ? '_blank' : ''
---

<a {...props} href={ href } class={ style } target={ target }>
  <slot/>
</a>