---
const { href, classname, newtab } = Astro.props

const style = `text-bright hover:text-main hover:underline ${ classname }`
const target = newtab ? '_blank' : ''
---

<a href={ href } class={ style } target={ target }>
  <slot/>
</a>