---
interface Props {
  href: string
  classname?: string
  newtab?: string
}

const { href, classname, newtab } = Astro.props

const style = `text-bright hover:text-second hover:underline ${ classname }`
const target = newtab ? '_blank' : ''
const link =  href.includes('https://') || href.includes('mailto') ? href : '/cat-n-code' + href 
---

<a href={ link } class={ style } target={ target }>
  <slot/>
</a>