---
interface Props {
  href: string
  classname?: string
}

const { href, classname } = Astro.props
const { pathname } = Astro.url

const setCurrent = pathname === '/cat-n-code' + href ? 'font-bold text-main' : 'hover:text-second'
const style = `text-bright px-3 py-2 ${ classname } ${ setCurrent }`
---

<a href={ '/cat-n-code' + href } class={ style }>
  <slot/>
</a>