---
const { href } = Astro.props
const { pathname } = Astro.url

const setCurrent = pathname === href ? 'font-bold text-second' : 'hover:text-main'
const style = `text-bright px-3 py-2 ${ setCurrent }`
---

<a href={ href } class={ style }>
  <slot/>
</a>