---
interface Props {
  classname?: string
}

const { classname } = Astro.props

const style = `text-gray-200 bg-grey font-body rounded-full px-3 py-2 mr-2 text-sm text-nowrap ${ classname }`
---
<span class={ style }>
  #<slot/>
</span>