---
import H4 from './H4.astro'
interface Props {
  name: string
  role: string
}

const { name, role } = Astro.props
---

<div class="bg-grey rounded-lg w-full p-4">
  <div class="mb-5">
    <H4 color='bright' style="text-gray-200">{ name }</H4>
    <p class="text-gray-200 opacity-70 text-sm">{ role }</p>
  </div>
  <slot/>
</div>