---
import Main from "@layouts/Main.astro"
import Section from "@layouts/Section.astro";
import Card from "@components/Card.astro";
---

<Main title='Cat n Code | Thoriq Adillah - Projects' type="website" description="See Thoriq Adillah's projects during his college years">
	<Section emoji='🚧' summary='In My Spare Time' title="Projects That I Can Show Off">
    <p class="text-white">
      Beside internship and part time job, I also have done multiple projects during my college years.
      Click one of them to learn more about them.
    </p>
  </Section>
  <div class='max-w-7xl mt-10 mx-auto'>
    <div class="md:grid md:grid-cols-2 lg:grid-cols-3 flex flex-col items-center">
      <Card title='Essay Similarity' tags='php,machine learning' date="Aug 2022 - Des 2022" stakeholder="THESIS" href="/projects/essay-similarity" classname="mx-4 mb-4">
        A plugin that hopefully help teachers to auto grade student answer
        by comparing the similarity of student’s answer and teacher’s answer key
        with machine learning
      </Card>
      <Card title='Wangsit' tags='php,laravel,livewire' date="Sep 2022 - Oct 2022" stakeholder="EMSI UB" href="/projects/wangsit" classname="mx-4 mb-4">
        A rewrite and stack upgrade of EMSI website for KBMSI event registration from CI3 to Laravel
        and Livewire. Written with laravel for the backend and livewire for the dynamic form 
      </Card>
      <Card title='Terminal Animation' tags='golang' date="Sep 2022" stakeholder="PERSONAL" href="/projects/terminal-animation" classname="mx-4 mb-4">
        Because Go is pretty popular language in backend development community, so I made this
        project to helps me learn Go. And turns out to be quite fun
        projects 
      </Card>
      <Card title='Siam Questionnaire Bot' tags='deno,typescript' date="May 2022" stakeholder="PERSONAL" href="/projects/siam-questionnaire-bot" classname="mx-4 mb-4">
        A CLI app that invoke a bot to automates answering tideous teacher questionnaires in SIAM UB.
        Written in Deno.js and Typescript with Puppeteer.js as a headless chrome bot library
      </Card>
    </div>
  </div>
</Main>
