---
type Frontmatter = {
  title: string
  date: string
  tags: string
  stakeholder: string
  description: string
  next?: string
  prev?: string
  sourceCode: string
}

interface Props {
  frontmatter: Frontmatter
}

const { frontmatter }  = Astro.props

import Main from './Main.astro'
import H1 from '@components/H1.astro'
import H4 from '@components/H4.astro'
import Breadcrumb from '@components/Breadcrumb.astro';
import Link from '@components/Link.astro'

const next = frontmatter.next?.toLowerCase().split(' ').join('-') ?? ''
const prev = frontmatter.prev?.toLowerCase().split(' ').join('-') ?? ''
---

<Main title={ 'Projects - ' + frontmatter.title } type="article" description={ frontmatter.description }>
  <Breadcrumb/>
  <div class="px-4 md:px-20 lg:px-60 mt-20">
    <div class="max-w-3xl mx-auto">
      <div class="flex justify-between items-center">
        <p class="text-bright text-sm font-bold inline border border-bright rounded-md p-2">{ frontmatter.stakeholder }</p>
        <Link href={ frontmatter.sourceCode }>
          <img src="https://img.icons8.com/material-sharp/24/f8efd4/github.png" alt="source code" title="Source code of the project">
        </Link>
      </div>
      <H1 color="main" classname="my-3">{ frontmatter.title }</H1>

      <div class="flex flex-col md:flex-row md:justify-between md:items-center my-5">
        <div class="text-gray-200 text-sm flex items-center mb-3 md:mb-0">
          <img src="https://media.licdn.com/dms/image/C5603AQFVhG2BgoV9Uw/profile-displayphoto-shrink_200_200/0/1657622056764?e=1680134400&v=beta&t=o1Zo8pnWPHXLUWRYG8EEDP48A0Kh1_x74To5EpWBXIA" class="mr-2 rounded-full w-6 h-6"/>
          <p>
            Thoriq Adillah <span class="mx-3">•</span> { frontmatter.date }
          </p>
        </div>
        <div>
          {
            frontmatter.tags.split(',').map(tag => {
              return <span class="text-gray-200 bg-grey rounded-full px-3 py-2 mr-2 text-sm">#{ tag }</span>
            })
          }
        </div>
      </div>
      
      <article class="max-w-3xl mt-10 prose dark:prose-invert 
          prose-p:text-white 
          prose-h1:text-6xl prose-h1:text-bright 
          prose-h2:text-4xl prose-h2:mt-6 prose-h2:mb-3 prose-h2:text-bright 
          prose-h3:text-2xl prose-h3:mt-6 prose-h3:mb-3 prose-h3:text-bright 
          prose-a:text-second
          prose-ul:text-white
          prose-pre:rounded-md">
        <slot/>
      </article>
    </div>
  </div>

  <div class="flex px-4 md:max-w-4xl lg:max-w-5xl mx-auto">
    {
      prev !== '' 
      ? <div id="prev-section" class="p-3 border border-grey hover:border-bright rounded-md mt-24 text-right mr-auto w-48">
          <Link href={ '/projects/' + prev } classname='hover:no-underline'>
            <H4 color="bright">Previous</H4>
            <p id="prev" class="text-gray-400 text-sm">{ frontmatter.prev }</p>
          </Link>
        </div>
      : ''
    }
    
    { 
      next !== '' 
      ? <div id="next-section" class="p-3 border border-grey hover:border-bright rounded-md mt-24 ml-auto w-48">
          <Link href={ '/projects/' + next } classname='hover:no-underline' >
            <H4 color="bright">Next</H4>
            <p id="next" class="text-gray-400 text-sm">{ frontmatter.next }</p>
          </Link>
        </div>
      : '' 
    }
    
  </div>
</Main>