---
import Socials from "./Socials.astro";
import H3 from "@components/H3.astro";
---

<div class="max-w-7xl mx-auto pt-24 pb-2 flex flex-col text-center justify-center">
  <H3 color='bright' classname="pt-4 pb-1 text-center">
    Interested Working Together?
  </H3>
  <p class="text-white pb-2">Let's connect now! You can contact me via these options</p>
  <Socials classname='mx-auto my-2'/>
</div>