---
import Socials from "./Socials.astro";
---

<div class="max-w-7xl mx-auto pt-12 pb-2 flex flex-col text-center justify-center">
  <p class="text-bright">Made with ❤️ by Thoriq Adillah</p>
  <Socials classname='mx-auto'/>
</div>