---
import Link from "@components/Link.astro";
import Navigation from "@components/Navigation.astro";
import Socials from "./Socials.astro";
---
<nav class="mb-4 max-w-7xl mx-auto relative">
  <div class="flex justify-between px-4 md:px-8 lg:px-12">
    <div id="logo">
      <Link href='/' classname='px-3 py-2'>
        <img src="/cat-n-code/logo.svg" alt="logo" width="150px">
      </Link>
    </div>
    <div id="navigation" class="my-auto hidden lg:block">
      <Navigation href='/'>Home</Navigation>
      <Navigation href='/projects'>Projects</Navigation>
      <Navigation href='/blogs'>Blogs</Navigation>
    </div>
    <div id="src" class="flex my-auto">
      <Socials classname='hidden lg:flex'/>
      <img src="/cat-n-code/menu.svg" id="menu-button" class="ml-4 cursor-pointer lg:hidden" width="20px" alt="menu"/>
    </div>
  </div>
  
  <div hidden id="menu" class="absolute inset-x-0">
    <div class="flex flex-col text-center bg-black border-b-2 border-grey">
      <Navigation href='/' classname='my-2'>Home</Navigation>
      <Navigation href='/projects' classname='my-2'>Projects</Navigation>
      <Navigation href='/blogs' classname='my-2'>Blogs</Navigation>
      <Socials classname='mx-auto my-4'/>
    </div>
  </div>
</nav>

<script>
  const menuButton = document.querySelector('#menu-button') as HTMLElement
  const menu = document.querySelector('#menu') as HTMLElement

  menuButton.onclick = () => menu.hidden = !menu.hidden
</script>