---
import Header from "./Header.astro";
import Footer from "./Footer.astro";

interface Props {
	title: string
	description: string
	type: string
}

const { title, description, type } = Astro.props
const url = Astro.url
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/cat-n-code/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={ Astro.generator } />
		<meta name="description" content={ description }>

		<!-- open graph general -->
		<meta property="og:title" content={ title } />
		<meta property="og:description" content= { description } />
		<meta property="og:url" content={ url } />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="https://thoriqadillah.github.io/cat-n-code">
		<meta property="og:type" content={ type }>

		<title>{title}</title>
	</head>
	<body class="pb-2 bg-black">
		<Header/>
		<main>
			<slot/>
		</main>
		<Footer/>
	</body>
</html>