---
import Link from "../components/Link.astro";
---
<nav class="mb-4 flex justify-between">
  <span class="logo">
    <Link href='/'>
      <img src="logo.svg" alt="logo" width="150px">
    </Link>
  </span>
  <span class="navigation my-auto">
    <div>
      <Link href='/'>Home</Link>
      <Link href='/projects'>Projects</Link>
    </div>
  </span>
  <span class="action">
    <span class="flex py-4">
      <Link href='https://www.linkedin.com/in/thoriq-adillah/'>
        <img src="linkedin.svg" alt="github" width="20px">
      </Link>
      <Link href='https://github.com/thoriqadillah'>
        <img src="github.svg" alt="github" width="20px">
      </Link>
    </span>
  </span>
</nav>