---
interface Props {
  emoji: string
  summary: string
  title: string
  classname?: string
}

const { emoji, summary, title } = Astro.props

import H2 from "@components/H2.astro";

---

<div class="px-4 md:px-20 lg:px-60 pt-48">
  <div class="max-w-3xl mx-auto">
    <H2 color="bright" classname="mb-2">{ emoji }</H2>
    <p class="font-bold text-white">{ summary }</p>
    <H2 color='main' classname='py-2'>{ title }</H2>
    <slot/>
  </div>
</div>