---
const { emoji, summary, title, background } = Astro.props

import H2 from "../components/H2.astro";

const style = `px-4 md:px-20 lg:px-60 py-20 ${ background }`
---

<div class={ style }>
  <div class="max-w-3xl mx-auto">
    <H2 classname='mb-2'>{ emoji }</H2>
    <p class="font-bold text-white">{ summary }</p>
    <H2 color='second' classname='py-2'>{ title }</H2>
    <slot/>
  </div>
</div>