---
const { emoji, summary, title, background } = Astro.props

import H3 from "../components/H3.astro";

const style = `px-4 md:px-20 lg:px-60 py-20 ${ background }`
---

<div class={ style }>
  <div class="max-w-3xl mx-auto">
    <H3 classname='mb-2'>{ emoji }</H3>
    <p class="font-bold text-bright">{ summary }</p>
    <H3 color='second' classname='py-2'>{ title }</H3>
    <slot/>
  </div>
</div>