---
interface Props {
  classname?: string
}

const { classname } = Astro.props

import Link from "@components/Link.astro";

const style = `flex ${ classname }`
---

<div class={ style }>
  <Link href='https://github.com/thoriqadillah' classname='socials mr-3' newtab='1'>
    <img src="https://img.icons8.com/material-sharp/24/f8efd4/github.png" width="24px" title="My Github profil"/>
  </Link>
  <Link href='https://linkedin.com/in/thoriqadillah' classname='socials mr-3' newtab='1'>
    <img src="https://img.icons8.com/material-sharp/24/f8efd4/linkedin--v1.png" alt="linkedin" width="24px" title="My LinkedIn profil"/>
  </Link>
  <Link href='https://t.me/thoriqadillah' classname='socials mr-4' newtab='1'>
    <img src="https://img.icons8.com/material-sharp/24/f8efd4/telegram-app.png" alt="telegram" width="22px" title="My Telegram contact"/>
  </Link>
  <Link href='mailto:thoriqadillah59@gmail.com' classname="socials mr-4" newtab='1'>
    <img src="https://img.icons8.com/ios-filled/22/f8efd4/secured-letter--v1.png" width="22px" title="My Email"/>
  </Link>
</div>