---
interface Props {
  classname?: string
}

const { classname } = Astro.props

import Link from "@components/Link.astro";

const style = `flex gap-4 ${ classname }`
---

<div class={ style }>
  <Link title='github' id='github-contact' href='https://github.com/thoriqadillah' classname='socials' newtab='1'>
    <img src="https://api.iconify.design/mdi:github.svg?color=%23f8efd4" width="24px" title="My Github profile" alt="github"/>
  </Link>
  <Link title='linkedin' id='linkedin-contact' href='https://linkedin.com/in/thoriqadillah' classname='socials' newtab='1'>
    <img src="https://api.iconify.design/mdi:linkedin.svg?color=%23f8efd4" alt="linkedin" width="24px" title="My LinkedIn profile" alt="linkedin"/>
  </Link>
  <Link title='telegram' id='telegram-contact' href='https://t.me/thoriqadillah' classname='socials' newtab='1'>
    <img src="https://api.iconify.design/mdi:telegram.svg?color=%23f8efd4" alt="telegram" width="24px" title="My Telegram contact"/>
  </Link>
  <Link title='whatsapp' id='whatsapp-contact' href='https://wa.me/6289671256809' classname='socials' newtab='1'>
    <img src="https://api.iconify.design/mdi:whatsapp.svg?color=%23f8efd4" alt="whatsapp" width="24px" title="My Whatsapp contact"/>
  </Link>
  <Link title='email' id='email-contact' href='mailto:thoriqadillah59@gmail.com' classname="socials" newtab='1'>
    <img src="https://api.iconify.design/mdi:email-outline.svg?color=%23f8efd4" width="24px" title="My Email" alt="email"/>
  </Link>
</div>

<script type="text/javascript">
  if (!window.socialsInitialized) {
    const socials = document.querySelectorAll('.socials')
    
    socials.forEach(social => {
      social.addEventListener('click', () => {
        gtag('event', 'click_contact', {
          'contact_title': social.title,
          'contact_url': social.href
        })
      })
    })

    window.socialsInitialized = true
  }
</script>